
// COLORES


$fondo: #121212;
$contenedor: #1e1e1e;
$titulo: #ff2d55;
$texto: #f5f5f5;
$texto-secundario: #c5c5c5;
$borde: #3a3a3a;
$hover: #d90429;



// TIPOGRAFÍA


$fuente-principal: "Inter", sans-serif;



// TAMAÑOS


$ancho-maximo: 1000px;
$ancho-carousel: 900px;
$ancho-imagen: 700px;
$ancho-foto: 250px;



// ESPACIADOS


$padding-seccion: 25px;
$padding-hero: 60px 25px;
$margin-seccion: 30px auto;
$gap-principal: 30px;
$gap-secundario: 20px;



// BORDES


$radio: 10px;
$grosor-borde: 2px solid $borde;



// TRANSICIONES

$transicion: 0.3s;